---
layout: default
title: Projects
permalink: /projects/
---

<h1>{{ page.title }}</h1>

<figure>
    <img src="{{ page.image | relative_url }}" alt="{{ page.caption }}" class="project-image" />
    <figcaption><strong>{{ page.caption }}</strong></figcaption>
</figure>

{{ content }}

<p><strong>Technologies Used</strong>: {{ page.technologies | join: ", " }}</p>

<a href={{ "/projects/" | relative_url }} class="back-arrow">
    <i class="bi bi-arrow-left-circle-fill"></i> Back to Projects
</a>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  th {
    background-color: #f8f8f8;
  }
</style>